<!DOCTYPE html>
<html>
<head>
	<title>HEB<% if (user) { %> - <%= user.username %><% } %></title>
	
	<meta name="description" content="Get help from fellow berliners" />

	<!-- Responsive viewport tag, tells small screens that it's responsive -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    <link href="/css/jquery.datetimepicker.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
<header>
	<h1>Help Expat Berlin</h1>
	<nav>
		<a href="/">Home</a>
		<% if (user) { %>
		<a href="/request/new">New request</a>
		<a href='/auth/profile/<%= user.id %>'>Profile</a>
		<a href="/auth/logout">Logout</a>
		<% } %>
		<% if (!user) { %>
		<a href="/auth/account-login">Log in</a>
		<% } %>
		<a href="/auth/showall">All users</a>
	</nav>
<% if (errorMessage) { %> <div class="error-banner">Error: <%= errorMessage %></div><% } %>
<% if (alertMessage) { %> <div class="alert-banner"><%= alertMessage %></div><% } %>
</header>
<div class="header-push">
	<h1>Help Expat Berlin</h1>
	<nav>
		<a href="/">Home</a>
		<% if (user) { %>
		<a href="/request/new">New request</a>
		<a href='/auth/profile/<%= user.id %>'>Profile</a>
		<a href="/auth/logout">Logout</a>
		<% } %>
		<% if (!user) { %>
		<a href="/auth/account-login">Log in</a>
		<% } %>
		<a href="/auth/showall">All users</a>
	</nav>
<% if (errorMessage) { %> <div class="error-banner">Error: <%= errorMessage %></div><% } %>
<% if (alertMessage) { %> <div class="alert-banner"><%= alertMessage %></div><% } %>
</div>
<main>