<!DOCTYPE html>
<html>
<head>
	<title>HEB<% if (user) { %> - <%= user.username %><% } %></title>
	
	<meta name="description" content="Get help from fellow berliners" />

	<!-- Responsive viewport tag, tells small screens that it's responsive -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    <link href="/css/jquery.datetimepicker.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
<header>
	<h1>Help Expat Berlin</h1>
	<nav id="realnav">
		<a href="/">Home</a>
		<% if (user) { %>
		<a href="/request/new">New request</a>
		<a href='/auth/profile/<%= user.id %>/?tab=profile'>Profile</a>
		<a class="menu-messages" href='/auth/profile/<%= user.id %>?tab=messages'>Messages</a>
		<% } %>
		<% if (!user) { %>
		<a href="/auth/account-login">Log in</a>
		<% } %>
		<a href="/request/about">About</a>
	</nav>
	<div id="burger"><img src="/images/burger.png" width ="100%"></div>
	<% if (errorMessage) { %> <div class="error-banner">Error: <%= errorMessage %></div><% } %>
	<% if (alertMessage) { %> <div class="alert-banner"><%= alertMessage %></div><% } %>
</header>

<!-- HACK TO PUSH HEADER DOWN -->
<div class="header-push">
	<h1>Help Expat Berlin</h1>
	<nav>
		<a href="/">Home</a>
		<% if (user) { %>
		<a href="/request/new">New request</a>
		<a href='/auth/profile/<%= user.id %>?tab=profile'>Profile</a>
		<a class="menu-messages" href='/auth/profile/<%= user.id %>?tab=messages'>Messages</a>
		<% } %>
		<% if (!user) { %>
		<a href="/auth/account-login">Log in</a>
		<% } %>
		<a href="/request/about">About</a>
	</nav>
	<% if (errorMessage) { %> <div class="error-banner">&nbsp;</div><% } %>
	<% if (alertMessage) { %> <div class="alert-banner">&nbsp;</div><% } %>
</div>
<!-- HACK END -->

<main>