<% include head %>
<% const loggedin = user ? "true" : "false"; %>
<div id="filters" data-loggedin='<%= loggedin %>'>

<% 
	const userPrice = user ? user.myfilters.filter.price : "";
	const userDate = user ? user.myfilters.sort.datePosted : "";
	const userType = user ? user.myfilters.filter.type : "";
	const userLocation = user ? user.myfilters.filter.location : "";

	const locations = ['Any', 'Charlottenburg', 'Friedrichshain', 'Kreuzberg', 'Lichtenberg', 'Mitte', 'Neuköln', 'Prenzlauer Berg', 'Shöneberg', 'Wedding', 'Other'];
	const types = ['Any', 'On site Assistance', 'Translation', 'Phone Call', 'Other'];
 %>

<form id="filters-form">
	<div class="inline-filter">
    <label class="small" for="paid">Fee</label>
    <select class="small"name="paid">
	    <option value="all" <% if (userPrice === 'all') { %> selected <% } %> >Any</option>
	    <option value="paid" <% if (userPrice === 'paid') { %> selected <% } %> >Paid</option>
	    <option value="free" <% if (userPrice === 'free') { %> selected <% } %> >Free</option>
    </select>
    </div>
	<div class="inline-filter">
    <label class="small" for="date">Order by</label>
    <select class="small"name="date">
	    <option value="-1" <% if (userDate === -1) { %> selected <% } %> >Newest</option>
	    <option value="1" <% if (userDate === 1) { %> selected <% } %> >Oldest</option>
    </select>
    </div>
	<div class="inline-filter">
	    <label class="small" for="type">Type</label>
	    <select class="small"name="type">
	    	<% types.forEach((type) => { %>
	    		<option value='<%= type %>' <% if (userType === type) { %> selected <% } %> ><%= type %></option>
	    	<% }); %>
	    </select>
    </div>
	<div class="inline-filter">
	    <label class="small" for="location">Area</label>
	    <select class="small" name="location" required>
	    	<% locations.forEach((location) => { %>
	    		<option value='<%= location %>' <% if (userLocation === location) { %> selected <% } %> ><%= location %></option>
	    	<% }); %>
	    </select>
    </div>
<% if (!user) { %>
	<p class="small tiplogin"><a href="/auth/facebook">Log in</a> to automatically save your filters</p>
	<a href="/auth/facebook" class="fb-connect-small"><img class="fb-logo-small" src="/images/fb-logo.png" width="15px">Connect with Facebook</a>
<% } else { %>
	<p class="small tiplogin">You are logged in as <b><%= user.username %></b>. <a href="/auth/logout">Sign out</a>.</p>	
<% } %>
</form>

</div>
<div data-state="closed" id="show-hide-filters">Hide filters</div>
<div class="now-loading"><img src="/images/ajax_loading.gif"></div>
<div class="prev-next"></div>
<div class="request-list"></div>
<div class="prev-next"></div>

<% include footer %>