<% include head %>

<h2>Profile - <%= profileUser.username %></h2>
<p>Username: <%= profileUser.username %></p>
<p>email: <%= profileUser.email %></p>

<% if (requests) { %>
	<div class="profile-requests">
	<h3>My requests:</h3>
	<% requests.forEach(request => { %>
		<div class="request-container">
			<%= request.description %><br>
			Status: <%= request.status %><br>
			<% if (request.status === 'deleted') { %><a href='/request/remove/<%= request.id %>'>Remove</a><% } %>
		</div>
	<% }); %> 
</div> 
<%} %>

<% include footer %>