<% include head %>

<% users.forEach((user) => { %>
	<div class="user-desc">
	Auth Type: <%= user.authType %><br><br>
	Username: <%= user.username %><br>
	email: <%= user.email %><br>
	password: <%= user.password %><br>
	id: <%= user.id %><br><br>
	FBID:  <%= user.facebook.id %><br>
	FB Token: <%= user.facebook.token %><br><br>
	Requests: <br><% user.requests.forEach((request) => { %>
		<%= request.type %> : <%= request.description %><br>
	<% }); %><br><br>
	<a href='/auth/delete/<%= user.id %>'>DELETE USER</a> 
	</div>
	<br><br><br>
<% }); %>

<% include footer %>